* {
    font-family: 'Work Sans', sans-serif;
}

/* Nav Related Styles */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-title img{
    width: 5.4rem;
    height: 2.5rem;
}
.gamer{
    margin-left: 20px;
    color: #F948B2;
}
.navbar > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 2rem;
}
nav li a{
    color: #3C354F;
    text-decoration: none;
}
.follow-us{
    padding-top: 15px;
    width: 230px;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.youtube{
    margin: 0 20px;
}

/* Banner section relater styles */
.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner{
    background-image: url(../images/Group\ 14.png);
}
.banner-title{
    margin-bottom: 50px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title2{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-btn{
    margin-top: 60px;
}
.banner-btn a{
    color: #FFF;
    text-decoration: none;
}
.banner-btn .signin-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-right: 24px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.banner-btn .go-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}
/* Main Sections Related Styles */

/* Online Games Card Related Styles */
.online-games-title{
    margin-top: 120px;
    text-align: center;
}
.games-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.games-funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.game-description{
    margin-top: -50px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.games-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Play Instantly Related Styles */
.play-instantly{
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.play-content{
    position: relative;
    right: -150px;
}
.play-content-title{
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
} 
.instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-content-description{
    color: #534C64;
    text-align: right;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.play-image .image{
    position: relative;
    left: 150px;
    bottom: -70px;
}
/* Games Types related styles */
.game-types{
    margin-top: 150px;
    padding: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.types p{
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Foote related styles */
.footer{
    padding: 50px;
    background-color: #0B0223;
}
.footer-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}
.footer-content{
    color: #FFF;
    margin-top: -30px;
    display: flex;
    gap: 60px;
    justify-content: center;
}
.footer-icon{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.footer-conditions{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    gap: 60px;
    justify-content: center;
}
.footer-end{
    color: rgba(255, 255, 255, 0.60);
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}







/* Responsive Related Styles */
/* Small Devices */
@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-link{
        flex-direction: column;
    }
    .nav-link li{
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .games-card,
    .play-instantly
    {
        flex-direction: column;
    }
    .play-content{
        text-align: center;
    }
    .game-types{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-content, .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-conditions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-end{
        text-align: center;
    }
}

/* Medium Devices */
@media screen and (min-width:576) and (max-width:960px) {
    .navbar{
        flex-direction: column;
    }
    .nav-link{
        flex-direction: column;
    }
    .nav-link li{
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .game-types{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-content, .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-conditions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-end{
        text-align: center;
    }
}